<template>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <require from="../converters"></require>

        <h2 class=""><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Tæmpen</h2>

        <button class="btn btn-primary center-block" type="button">
            Nå <span class="badge">${data.cur.value | round}°</span>
        </button>
            <br/>
            <span class="label label-default center-block">Siste 24 timer</span>
            <br/>
        <button class="btn btn-info center-block" type="button">
            Høyeste <span class="badge">${data.max.value | round}°</span>
            ${data.max.date | dateFormatToday}
        </button>
                <br/>
        <button class="btn btn-info center-block" type="button">
            Laveste <span class="badge">${data.min.value | round}°</span>
            ${data.min.date | dateFormatToday}
        </button>
    </div>
</template>