<template>	
    
    <require from="bootstrap/css/bootstrap.css"></require>
    <require from="font-awesome/css/font-awesome.css"></require>
    <!--<require from='./nav-bar'></require>-->
    
    
    
    <link rel="stylesheet" href="src/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>
    
    <nav-bar router.bind="router"></nav-bar>
    
    <div class="container-fluid">
      <div class="row">
            
            <div class="col-md-12 main">
                <router-view></router-view>
            </div>

        </div>
    </div>


</template>