<template>
  <require from="bootstrap/css/bootstrap.css"></require>
  <require from="./styles.css"></require>
  
  <nav class="navbar navbar-default" role="navigation"> 
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#">        
        <span>strikk.westman.no</span>
      </a>
      


    </div>
    <div class="navbar-header pull-right">
        <a repeat.for="row of router.navigation" class="btn btn-default ${row.isActive ? 'active' : ''}" href.bind="row.href">
            ${row.title}
        </a>
      </div>
    
  </nav>

  <router-view></router-view>
  </div>
</template>
