<template>
    <require from="./converters"></require>

    <div class="container days">
      <div if.bind="loading" class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <i class="fas fa-spinner fa-spin" style="font-size:34px;"></i>
            </div>
            
        </div>
      </div>
    
    <div class="row ${day.value | yarn:'type'} day"repeat.for="day of days | reverse">
        <div class="col-xs-4 col-xs-offset-1">
        <span click.delegate="Toggle(day)" class="btn ${ day.knitted ? 'btn-success' : 'btn-default' }">
            ${day.date | dateFormat}
            <span class="badge">${day.value | tempFormat}°</span>
        </span>
        </div>        
        <div class="col-xs-6" >
            <span class="label label-default pull-right yarn">${day.value | yarn:'name'}</span>            
        </div>    
    </div>
</div>
</template>
