body { 
}

section {
  margin: 0 20px;
}

a:focus {
  outline: none;
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.no-selection {
  margin: 20px;
}


.button-bar {
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background: white;
}

.button-bar > button {
  float: right;
  margin: 20px;
}

li.list-group-item {
  list-style: none;
}

li.list-group-item > a {
  text-decoration: none;
}

li.list-group-item.active > a {
  color: white;
}
.days .btn, .days .badge{
  font-size: 10px;
}
.days .btn{
  padding: 4px 8px;
}
.centered{
  float: none;
    margin: 0 auto;
}

.day{
  color:white;
  padding: 10px;
  cursor: pointer;
}
.yarn{
  margin-top: 4px;
  font-size: 14px;
}
.knitted{
  color: gray;
}
.thread{
  padding-top: 13px;
  padding-bottom: 13px;
}
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
.navbar{
  margin-bottom: 0;
}
.navbar-header .btn{
  margin: 7px;
}
.rod-lilla{
  background-color: rgb(86,6,62)
}
.rodmelert{
  background-color: rgb(109, 39, 4)
}
.tomatrod{
  background-color: rgb(140, 48, 2)
}
.orangemelert{
  background-color: rgb(206, 71, 4)
}
.oker{
  background-color: rgb(239, 176, 67)
}
.lys-camel{
  background-color: rgb(221, 214, 179)
}
.natur{
  background-color: rgb(242, 241, 225)
}
.lys-gragronn{
  background-color: rgb(210, 224, 215)
}
.gragronn{
  background-color: rgb(153, 163, 156)
}
.lys-petrol{
  background-color: rgb( 40, 171, 186)
}
.petrol{
  background-color: rgb(32, 82, 89)
}
.bla-turkis-rosa{
  background-color: rgb(20, 72, 96)
}
.vinrod{
  background-color: rgb(155, 58, 6)
}
.turkis-gra{
  background-color: rgb(90, 113, 150)
}
.svart{
  background-color: rgb(0,0,0)
}
