<template>
        <div class="container days">
        <div class="row ${thread.type} thread"repeat.for="thread of yarn">            
            
            
            <div class="col-xs-3 col-xs-offset-1">                    
                <span show.bind="thread.tempFrom >= 0" class="label label-default yarn">${thread.tempFrom}° <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> ${thread.tempTo}°</span>
                <span show.bind="thread.tempFrom < 0" class="label label-default yarn">${thread.tempTo}° <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> ${thread.tempFrom}°</span>
            </div>    
            <div class="col-xs-4">            
                <span class="label label-default yarn">${thread.name}</span>             
            </div>
        </div>
        </div>
</template>