body,html{
    z-index: 10;
    background-color:black !important;
}
#chart{
    position:absolute;
    z-index: 300;
    left: 0;
    margin-top:50px;
}
.container{
}
h1{
    color:lightblue;
}
.btn{
    font-size:24px;
    width: 100%;
}
.btn span{
    font-size:24px;
}

.inline{
    display: inline-block;
}
.label{
    font-size: 16px !important;
}

.row-divider{
    margin-top: 20px;
}
.primary{
    
}
.digit{
    color:lightgray;
    text-align: center;
}
.primary .digit{
    font-size: 180px;

	margin-top:40px;
    
    
}
.digit .badge{
    vertical-align: top;
    background-color: white;
    color: black;
    margin-top: 35px;
    font-size: 14px;
}
.secondary-top{
     
}

.secondary .digit{
    font-size: 100px;
    
}
.secondary-bottom{
    
    margin-top:30px;
}
hr{
   border-top:solid 1px darkgrey !important;
}
.label-as-badge {
    border-radius: 1em;
}
.secondary .fa-thermometer-empty, .secondary .fa-thermometer-full{
    font-size: 100px !important;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media(max-width:767px){
    
    .primary .digit{
        font-size: 90px;
        
    }
    .secondary .digit{
        font-size: 50px;
        
    }   
}
@media(min-width:768px){
    
}
@media(min-width:992px){}
@media(min-width:1200px){
    .btn{
        width: auto;
    }
}
